In [1]:
cd ../

C:\Users\thyne\Documents\GitHub\lux

First we will download some data and insert it into our Postgresql database to play with

In [2]:
import pandas as pd
import lux
from sqlalchemy import create_engine

data = pd.read_csv('https://raw.githubusercontent.com/lux-org/lux-datasets/master/data/college.csv')
engine = create_engine("postgresql://postgres:lux@localhost:5432")
data.to_sql(name='college', con=engine, if_exists = 'replace', index=False)

We can now create a new Lux Dataframe and connect it to our Postgresql database

In [3]:
sql_df = lux.LuxDataFrame()
lux.config.set_SQL_connection(engine)
sql_df.set_SQL_table("college")
sql_df

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [4]:
sql_df.set_intent(["PredominantDegree"])
sql_df

c:\users\thyne\appdata\local\programs\python\python39\lib\site-packages\IPython\core\formatters.py:345: UserWarning:
Unexpected error in rendering Lux widget and recommendations. Falling back to Pandas display.
Please report the following issue on Github: https://github.com/lux-org/lux/issues

C:\Users\thyne\Documents\GitHub\lux\lux\core\frame.py:631: UserWarning:Traceback (most recent call last):
  File "c:\users\thyne\appdata\local\programs\python\python39\lib\site-packages\sqlalchemy\engine\base.py", line 1276, in _execute_context
    self.dialect.do_execute(
  File "c:\users\thyne\appdata\local\programs\python\python39\lib\site-packages\sqlalchemy\engine\default.py", line 608, in do_execute
    cursor.execute(statement, parameters)
psycopg2.errors.SyntaxError: syntax error at or near "s"
LINE 1: ...th FROM college WHERE "HighestDegree" = 'Bachelor's' AND "Pr...
                                                             ^


The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Users\thyne\Documents\GitHub\lux\lux\core\frame.py", line 582, in _repr_html_
    self.maintain_recs()
  File "C:\Users\thyne\Documents\GitHub\lux\lux\core\frame.py", line 412, in maintain_recs
    custom_action_collection = custom_actions(rec_df)
  File "C:\Users\thyne\Documents\GitHub\lux\lux\action\custom.py", line 76, in custom_actions
    recommendation = lux.config.actions[action_name].action(ldf)
  File "C:\Users\thyne\Documents\GitHub\lux\lux\action\filter.py", line 135, in add_filter
    vlist = lux.vis.VisList.VisList(output, ldf)
  File "C:\Users\thyne\Documents\GitHub\lux\lux\vis\VisList.py", line 43, in __init__
    self.refresh_source(self._source)
  File "C:\Users\thyne\Documents\GitHub\lux\lux\vis\VisList.py", line 318, in refresh_source
    lux.config.executor.execute(self._collection, ldf)
  File "C:\Users\thyne\Documents\GitHub\lux\lux\executor\SQLExecutor.py", line 55, in execute
    SQLExecutor.execute_aggregate(view, ldf)
  File "C:\Users\thyne\Documents\GitHub\lux\lux\executor\SQLExecutor.py", line 165, in execute_aggregate
    length_query = pandas.read_sql(
  File "c:\users\thyne\appdata\local\programs\python\python39\lib\site-packages\pandas\io\sql.py", line 510, in read_sql
    return pandas_sql.read_query(
  File "c:\users\thyne\appdata\local\programs\python\python39\lib\site-packages\pandas\io\sql.py", line 1294, in read_query
    result = self.execute(*args)
  File "c:\users\thyne\appdata\local\programs\python\python39\lib\site-packages\pandas\io\sql.py", line 1162, in execute
    return self.connectable.execution_options().execute(*args, **kwargs)
  File "c:\users\thyne\appdata\local\programs\python\python39\lib\site-packages\sqlalchemy\engine\base.py", line 2235, in execute
    return connection.execute(statement, *multiparams, **params)
  File "c:\users\thyne\appdata\local\programs\python\python39\lib\site-packages\sqlalchemy\engine\base.py", line 1003, in execute
    return self._execute_text(object_, multiparams, params)
  File "c:\users\thyne\appdata\local\programs\python\python39\lib\site-packages\sqlalchemy\engine\base.py", line 1172, in _execute_text
    ret = self._execute_context(
  File "c:\users\thyne\appdata\local\programs\python\python39\lib\site-packages\sqlalchemy\engine\base.py", line 1316, in _execute_context
    self._handle_dbapi_exception(
  File "c:\users\thyne\appdata\local\programs\python\python39\lib\site-packages\sqlalchemy\engine\base.py", line 1510, in _handle_dbapi_exception
    util.raise_(
  File "c:\users\thyne\appdata\local\programs\python\python39\lib\site-packages\sqlalchemy\util\compat.py", line 182, in raise_
    raise exception
  File "c:\users\thyne\appdata\local\programs\python\python39\lib\site-packages\sqlalchemy\engine\base.py", line 1276, in _execute_context
    self.dialect.do_execute(
  File "c:\users\thyne\appdata\local\programs\python\python39\lib\site-packages\sqlalchemy\engine\default.py", line 608, in do_execute
    cursor.execute(statement, parameters)
sqlalchemy.exc.ProgrammingError: (psycopg2.errors.SyntaxError) syntax error at or near "s"
LINE 1: ...th FROM college WHERE "HighestDegree" = 'Bachelor's' AND "Pr...
                                                             ^

[SQL: SELECT COUNT(*) as length FROM college WHERE "HighestDegree" = 'Bachelor's' AND "PredominantDegree" IS NOT NULL]
(Background on this error at: http://sqlalche.me/e/13/f405)

Empty DataFrame
Columns: [Name, PredominantDegree, HighestDegree, FundingModel, Region, Geography, AdmissionRate, ACTMedian, SATAverage, AverageCost, Expenditure, AverageFacultySalary, MedianDebt, AverageAgeofEntry, MedianFamilyIncome, MedianEarnings]
Index: []